*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: sans-serif;
}

/* utilities */
.container{
    max-width: 700px;
    margin: 0 auto;
    padding: 0 15px;
    z-index: 1;
    position: relative;


}

.button{
    height: 30px;
    color: white;
    padding: 0 20px;
    text-transform: uppercase;
    font-size: 14px;
    background: rgb(22, 22, 87);
    border: 0;
    cursor: pointer;
    outline: none;
    border-radius: 30px;
    transition: background .2s;
}
.button:hover,
.button:focus{
    border: 0;
    background: rgb(31, 31, 136);
    box-shadow: 2px 2px 5px rgb(22, 22, 87);
}
    

/* header */
.app-header{
    margin: 30px 0;
    text-align: center;
}

.app-header img{
    max-width: 300px;
}

/* new todo */
.next-todo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.next-todo input{
    flex-grow: 1;
    height: 35px;
    margin-right: 20px;
    border: 0;
    border-bottom: 1px solid #ccc;
    outline: none;
    transition: border .3s;
}

.next-todo input:hover,
.next-todo input:focus{
    border-color: #000;
}

/* todo list */
.todos-section{
    margin: 40px 0;
}

.todos-list{
    padding: 15px 20px;
    background: #f2f2f2;
    box-shadow: 0 15px 10px -10px rgba(0, 0, 0, .2);
    border-radius: 20px;
}

.todo{
    display: flex;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}

.todo:last-child{
    border: none;
}

.todo .text{
    position: relative;
    flex-grow: 1;
    padding: 0 30px;
}
.todo .text::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 15px;
    height: 15px;
    border: 1px solid #000;
    border-radius: 50%;
    transition: background .2s;
}

.todo .text.completed{
    text-decoration: line-through;
}
.todo .text.completed:before{
    background: green;
}

.todo .delete:hover{
    color: red;
}


/* onda */
.wave.first{
    position: fixed;
    bottom: -15px;
    left: 100px;
    animation: wave-first 5s ease-in-out infinite;
}
.wave.second{
    position: fixed;
    bottom: -5px;
    left: 0;
}
.wave.third{
    position: fixed;
    bottom: -10px;
    left: 100px;
    animation: wave-third 5s ease-in-out infinite;
}

@keyframes wave-first {
    0%{
        transform: translateX(0px);
    }
    50%{
        transform: translateX(300px);
    }
    100%{
        transform: translateX(0px);
    }
}

@keyframes wave-third {
    0%{
        transform: translateX(0px);
    }
    50%{
        transform: translateX(50px);
    }
    80%{
        transform: translateX(200px);
    }
    100%{
        transform: translateX(0px);
    }
}
